<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js" defer></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://kit.fontawesome.com/3482424e3c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="home">
        <div class="nav">
            <nav>
                <div class="logo">
                    <h1>Vishal</h1>
                </div>
                <div class="nav-links">
                    <ul class="ul-links">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="resources/resume.pdf" target="_blank" download="resources/resume.pdf">Resume</a></li>
                        <li><a href="#project">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header-content">
            <div class="header-text">
                <p>Hello, It's me</p>
                <h1><span>Vishal</span> Padhiyar</h1>
                <p>I am a passionate <span id="element">Web developer</span></p>
                <div>
                    <a href="resources/resume.pdf" target="_blank" download="resources/resume.pdf">Download CV</a>
                </div>
            </div>
            <div class="header-image">
                <img src="img/my-img.jpeg" alt="Header Image">
            </div>
        </div>
    </header>
    
    <section id="about">
        <div class="about-row">
            <div class="about-one">
                <img src="img/about-img.jpeg" alt="Developer Image" class="about-image">
            </div>
            <div class="about-two">
                <h1 class="title">About Me</h1>
                <p>I'm Vishal Padhiyar, a passionate and dedicated web developer with a Bachelor of Computer Applications (BCA) degree. As a fresher, I bring a solid foundation in web development and programming, with hands-on experience in various languages including HTML, CSS, JavaScript, C, C++, PHP, Python, and Django.</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('education')">Education</p>
                    <p class="tab-links" onclick="opentab('experiences')">Experience</p>
                    <p class="tab-links" onclick="opentab('service')">Skills</p>
                </div>
                <div class="tab-contents active-tab" id="education">
                    <ul>
                        <li><span>BCA<br>St. Xavier's College, Ahmedabad</span><br>2021 - 2024</li>
                        <li><span>HSC<br>Tapovan Vidhyalay</span><br>2020 - 2021</li>
                        <li><span>SSC<br>Tapovan Vidhyalay</span><br>2018 - 2019</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experiences">
                    <ul>
                        <li><span>Vision Infotech</span><br>Software Development Intern (2023 - 2024)</li>
                    </ul>
                </div>
                <div class="tab-contents" id="service">
                    <ul>
                        <li><span>Frontend Developer</span><br>HTML, CSS, JavaScript</li>
                        <li><span>Backend Developer</span><br>PHP, Python (Django), MySQL, SQLite</li>
                        <li><span>Programming Skills</span><br>C, C++</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="project">
        <div class="pro-one">
            <h1 class="title">My Work</h1>
        </div>
        <div class="pro-list">
            <div class="card">
                <div class="pro-img">
                    <img src="img/sms.jfif" alt="Django Project" class="card-image">
                </div>
                <div class="card-body">
                    <div class="card-title">Django Project</div>
                    <div class="card-text">This is my Society Management System Software.</div>
                    <a href="https://github.com/iamvishalpadhiyar/Django-Projects/tree/1e4682c836aaa1d80c8770d035a20ecf58e9a9c2/Socetiy%20management%20system" target="_blank" class="btn">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="pro-img">                
                    <img src="img/c.jfif" alt="C Language Project" class="card-image">
                </div>
                <div class="card-body">
                    <div class="card-title">C Projects</div>
                    <div class="card-text">My C language projects</div>
                    <a href="https://github.com/iamvishalpadhiyar/C-Projects" target="_blank" class="btn">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="pro-img">                                
                    <img src="img/cpp.jfif" alt="C++ Project" class="card-image">
                </div>
                <div class="card-body">
                    <div class="card-title">C++ Projects</div>
                    <div class="card-text">My C++ Projects</div>
                    <a href="https://github.com/iamvishalpadhiyar/CPP-Projects" target="_blank" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="pro-mid">
            <a href="https://github.com/iamvishalpadhiyar" target="_blank" class="btn">See More</a>
        </div>
    </section>
    
    <section id="contact">
        <div class="con-one">
            <h3>Get in Touch</h3>
            <div class="icon ml-10">
                <i class="fa-solid fa-location-dot"></i>
                <p>Nana Varachha, Varachha Road, Surat, Gujrat,<br> Pincode : 395006</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-envelope"></i>
                <p>21bca049@sxca.edu.in</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-phone-volume"></i>
                <p>+91 9313713825</p>
            </div>
            <p class="icon-text">Reach Me:</p>
            <div class="icons">
                <a href="https://www.linkedin.com/in/vishal-padhiyar-ba999b294/" target="_blank" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/iamvishalpadhiyar" target="_blank" aria-label="GitHub"><i class="fa-brands fa-square-github"></i></a>
                <a href="#" target="_blank" aria-label="Facebook"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#" target="_blank" aria-label="Instagram"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
        <div class="con-two">
            <form action="" onsubmit="sendEmail(); reset(); return false;" class="con-form">
                <h3>Contact Me</h3>
                <input type="text" id="name" placeholder="Your Name" required>
                <input type="email" id="email" placeholder="Your Email" required>
                <input type="text" id="phone" placeholder="Your Phone No" required>
                <textarea id="msg" rows="4" placeholder="How can I help you?" required></textarea>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </section>
    <footer>
        <h3>Vishal Padhiyar</h3>
        <p>&copy; 2024 All Rights Reserved</p>
    </footer>
</body>
</html>